/* System Styles */
*{padding: 0px;margin: 0px;border: 0px;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
aside,nav,footer,header,section{display: block;}
html,body{height:100%; margin:0; padding:0; min-width:320px; position:relative; width: 100%; color: #000;}
body{font-size: 100%;line-height: 100%;font-family: "Arial";}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
img{vertical-align: top;}
.clr{clear: both;display: block;}
.wrapper{width: 100%;min-height: 100%;overflow: hidden;position: relative;}
header{background:#61d2d6;margin:0 auto;max-width:1000px;padding:10px 5px}
.content{margin:0 auto;max-width:1000px;padding:10px 5px}
.reviews__inp{background-color:#fff;border:1px solid #afafaf;border-radius:3px;color:#000;font-family:Arial;margin-bottom:10px;margin-top:17px;padding:0 10px;resize:none}
.btn{background-color:#61D2D6;border:1px solid #61D2D6;border-radius:3px;color:#fff;cursor:pointer;display:block;padding-top:0;text-align:center}
.btn,.reviews__inp{font-size:18px;height:46px;width:100%}

.message-success{background:#9F9;padding:20px;text-align:center}
.message-error{background:#F99;padding:20px;text-align:center}
/* --/ System Styles */

.dhr { border-bottom: 1px dotted; }

.content-title{font-size:18px;padding:10px 0}


/* --- color --- */
.topmenu-item {display:inline-block;list-style:none;margin: 5px 0;}
.topmenu-item span {padding: 3px;}
.topmenu-item-txt {background:#edde45;border-radius: 5px;}

.cloud-tags-item{display:inline-block;list-style:none;margin:5px}

.detail-square{display:inline-block;margin:10px 0;width:33%}
.detail-square-color {min-height: 50px;}
.big-number-label{display:inline-block;text-align:center;width:45%}
.big-number-label p {margin: 5px;}

