/* style superzoom */
.under-layer{background:#000;height:100%;left:0;opacity:.7;position:fixed;top:0;width:100%;z-index:1}


#vg_carousel,#vg_thumbs-wrapper{text-align:center}
#vg_carousel .vg_ca_img,#vg_thumbs .vg_th_img{cursor:pointer;}
#vg_carousel{height:440px}
#vg_carousel .vg_ca_img img{max-height:550px;max-width:600px}
#vg_thumbs-wrapper #vg_thumbs{height:80px;margin:0 auto}
#vg_thumbs .vg_th_img img{max-height:100%;max-width:100%}
#vg_wrapper .vg_th_img{border:3px solid grey;border-radius:5px;display:inline-block;height:65px;margin:7px;width:95px}
#vg_wrapper .vg_th_img.select{border:3px solid yellow;}

#fvg_carousel .fvg_ca_img,#fvg_thumbs .fvg_th_img{cursor:pointer;}
#fvg_wrapper{border:3px solid yellow;height:100%;position:fixed;width:100%;z-index:2}
#fvg_carousel,#fvg_thumbs-wrapper{text-align:center}
#fvg_carousel-wrapper{height:100%;width:100%}
#fvg_carousel{background:#EDE5E2;height:100%;width:100%}
#fvg_carousel .fvg_ca_img{height:100%;width:100%}
#fvg_carousel .fvg_ca_img img{max-height:100%;max-width:100%}
/* #fvg_thumbs-wrapper #fvg_thumbs{height:120px;margin:0 auto} */
#fvg_thumbs-wrapper{bottom:0;margin:0 auto;position:absolute;text-align:center;width:100%}
#fvg_thumbs .fvg_th_img img{max-height:100%;max-width:100%}
#fvg_wrapper .fvg_th_img{border:3px solid grey;border-radius:5px;display:inline-block;height:100px;margin:7px;width:150px}
#fvg_wrapper .fvg_th_img.select{border:3px solid yellow;}

#fvg_wrapper-close{background:yellow;position:absolute;right:0;top:0;z-index:1}
#fvg_wrapper-close span{display:block;cursor:pointer;font-size:38px;height:25px;margin:0;padding: 5px 2px;width:25px}

#vg_carousel .vg_ca_img.select, #fvg_carousel .fvg_ca_img.select {
    display: block;
}

#vg_carousel .vg_ca_img, #fvg_carousel .fvg_ca_img{
    display: none;
}